/* stylelint-disable font-family-no-missing-generic-family-keyword */
:root {
  --c-brand: #40b854;
  --c-brand-light: #32a745;
  --homepage-width: 1000px;
  --c-text: #555;
}
.navbar {
  .site-name {
    display: none;
  }
  .external-link span {
    display: none;
  }
}
